extends pug/base

append vars
	- html.classList.push('page-index')

	- numbers = [{id:'number-seven',name:'number-seven',text:'7',classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-eight',name:'number-eight',text:'8',classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id: 'number-nine',name:'number-nine', text:'9', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-four',name:'number-four',text:'4',classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-five',name:'number-five', text:'5', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-six',name: 'number-six', text:'6', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-one', name: 'number-one', text:'1', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id: 'number-two', name: 'number-two', text:'2', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'number-three',name:'number-three',text:'3', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'zero',name:'zero',text:'0', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'dot',name:'dot',text:'.', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'},{id:'duble-zeroo',name:'duble-zero',text:'00', classList:'calcsoft-form__btn--gray calcsoft-form__btn--c-blue'}]

	- mathctions = [{id: 'natural-logarifm',name: 'natural-logarifm',text: 'Ln',classList: 'calcsoft-form__btn--darc',title:'Натуральный логарифм от числа'},  {id: 'logarifm',name: 'logarifm',text: 'Log<sub>y</sub>x',classList: 'calcsoft-form__btn--darc',title:'Логарифм от числа по основанию'},  {id: 'logarifm-ten', name: 'logarifm-ten', text: 'Lg', classList: 'calcsoft-form__btn--darc',title:'Десятичный логарифм'},   {id: 'eiler-const', name: 'eiler-const', text: 'e', classList: 'calcsoft-form__btn--darc', title:'Число Эйлера'},   {id: 'pi-const', name: 'pi-const', text: '&#960;', classList: 'calcsoft-form__btn--darc', title:'Число Пи'},  {id: 'factorial', name: 'factorial', text: 'x!', classList: 'calcsoft-form__btn--darc', title:'Факториал числа'}, {id: 'mat-sqrt', name: 'mat-sqrt', text: '&#8730;', classList: 'calcsoft-form__btn--darc', title:'Квадратный корень из числа'},  {id: 'mat-cbrt', name: 'mat-cbrt', text: '&#8731;', classList: 'calcsoft-form__btn--darc', title:'Кубический корень из числа'}, {id: 'mat-y-sqrt', name: 'mat-y-sqrt', text: '<sup>y</sup>&#8730;', classList: 'calcsoft-form__btn--darc', title:'Корень степени y из числа'}, {id: 'sinus', name: 'sinus', text: 'sin', classList: 'calcsoft-form__btn--darc', title:'Синус'}, {id: 'cosinus', name: 'cosinus', text: 'cos', classList: 'calcsoft-form__btn--darc', title:'Косинус'}, {id: 'arcsinus', name: 'arcsinus', text: 'sin<sup>-1</sup>', classList: 'calcsoft-form__btn--darc', title:'Арксинус'}, {id: 'arccosinus', name: 'arccosinus', text: 'cos<sup>-1</sup>', classList: 'calcsoft-form__btn--darc', title:'Арккосинус'}, {id: 'tangens', name: 'tangens', text: 'tg', classList: 'calcsoft-form__btn--darc', title:'Тангенс'}, {id: 'arctangens', name: 'arctangens', text: 'tg<sup>-1</sup>', classList: 'calcsoft-form__btn--darc', title:'Тангенс'}, {id: 'cotangens', name: 'cotangens', text: 'ctg', classList: 'calcsoft-form__btn--darc', title:'Котангенс'}, {id: 'arccotangens', name: 'arccotangens', text: 'ctg<sup>-1</sup>', classList: 'calcsoft-form__btn--darc', title:'Арккотангенс'},{id: 'abs', name: 'abs', text: '|x|', classList: 'calcsoft-form__btn--darc'}]

	- settings = [{name:'settings',text:'Градусы', checked:true, dataval: 'grad'}, {name:'settings',text:'Радианы',checked:false, dataval: 'rad'}]

	- logical = [{id: 'clear-calc', name: 'clear-calc', text: 'C', classList: 'calcsoft-form__btn--light-blue', title:'очистить калькулятор'},{id: 'clear-all', name: 'clear-all', text: 'AC', classList: 'calcsoft-form__btn--light-blue', title:'очистить калькулятор и память'},{id: 'save-number', name: 'save-number', text: 'MS', classList: 'calcsoft-form__btn--darc', title:'Сохранить число в памяти'},{id: 'output-from-memory', name: 'output-from-memory', text: 'MR', classList: 'calcsoft-form__btn--darc', title:'Вывести число из памяти'},{id: 'clear-memory', name:'clear-memory', text:'MC', classList:'calcsoft-form__btn--darc', title:'чистка памяти'},{id: 'left-delim', name:'left-delim', text:'(', classList:'calcsoft-form__btn--darc', title:'Скобка'},{id: 'right-delim', name:'right-delim', text:')', classList:'calcsoft-form__btn--darc', title:'Скобка'},{id:'clean-end', name:'clean-end', text: '00->0', classList:'calcsoft-form__btn--darc calcsoft-form__btn--fz-14px'}]
	
	- math = [{id: 'mat-plus', name: 'mat-plus', text: '+', classList: 'calcsoft-form__btn--darc'},{id: 'mat-substr', name: 'mat-substr', text: '-', classList: 'calcsoft-form__btn--darc'},{id: 'mat-mult', name: 'mat-mult', text: 'x', classList: 'calcsoft-form__btn--darc'},{id: 'division', name: 'division', text: '÷', classList: 'calcsoft-form__btn--darc'},{id: 'procent', name: 'procent', text: '%', classList: 'calcsoft-form__btn--darc'},{id: 'mat-pow-2', name: 'mat-pow-2', text: 'x<sup>2</sup>', classList: 'calcsoft-form__btn--darc'},{id: 'mat-pow-3', name: 'mat-pow-3', text: 'x<sup>3</sup>', classList: 'calcsoft-form__btn--darc'},{id: 'mat-pow-y', name: 'mat-pow-y', text: 'x<sup>y</sup>', classList: 'calcsoft-form__btn--darc'},{id: 'mat-result', name: 'mat-result', text: '=', classList: 'calcsoft-form__btn--darc calcsoft-form__btn--2col'},{id: 'change-mat-sign', name: 'change-mat-sign', text: '+/-', classList: 'calcsoft-form__btn--darc'},{id: 'mat-fraction', name: 'comma', text: ' , ', classList: 'calcsoft-form__btn--darc'}]

block content
	
	div.calcsoft-form.calcsoft
		h2.calcsoft-form__title.calcsoft__title="Инженерный калькулятор"
		form.calcsoft-form__main.mt-20#matematical-calc
			div.calcsoft-form__wrapper.calcsoft-form__wrapper--flex
				div.calcsoft-form__details#remember-number
				input#calculation-result.matematical__main(type='text' name='calc-input' disabled="disabled")
				div.calcsoft-form__details.calcsoft-form__details--right.calcsoft-form__details--bottom-fix#hint='log( число , основание ), √( число , 1/степень )'
				div.calcsoft-form__wrapper.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-area-template.calcsoft-form__wrapper--row-gap-10-w670.mt-10.mt-25-w670
					div.calcsoft-form__settings.flex-row.flex-row--jcfs
						each item in settings
							label.flex-row.mr-10(for=item.name)
								span.mr-10=item.text
								input(type='radio' checked=item.checked name=item.name data-val=item.dataval)
					div.calcsoft-form__logical.calcsoft-form__btn-cont-logic
						each btn in logical
							button(id=btn.id name=btn.name class='calcsoft-form__btn calcsoft-form__btn--h40 '+btn.classList title=btn.title)!=btn.text
					div.calcsoft-form__algebra.calcsoft-form__btn-cont
						each btn in mathctions
							button(id=btn.id name=btn.name class='calcsoft-form__btn calcsoft-form__btn--h40 '+btn.classList title=btn.title)!=btn.text
					div.calcsoft-form__numeric.calcsoft-form__btn-cont
						each btn in numbers
							button(id=btn.id name=btn.name class='calcsoft-form__btn calcsoft-form__btn--h40-w670 '+btn.classList title=btn.title)!=btn.text
					div.calcsoft-form__math.calcsoft-form__btn-cont.calcsoft-form__btn-cont--2fr.calcsoft-form__btn-cont--jsfs
						each btn in math
							button(id=btn.id name=btn.name class='calcsoft-form__btn calcsoft-form__btn--h40 '+btn.classList title=btn.title)!=btn.text
						