extends pug/base

append vars
	- html.classList.push('page-index')
	- radiusArr = ['мм', 'см', 'дм', 'м']
	- areaArr = ['кв.мм', 'кв.см', 'кв.дм', 'кв.м']
block content
	
	div.calcsoft-form.calcsoft
		h2.calcsoft-form__title.calcsoft__title="Калькулятор объёма цилиндра"
		form.calcsoft-form__main.mt-20#cylinder-capacity
			div.calcsoft__wrapp.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-2-1fr
				div
					p.calcsoft__text.calcsoft__text--shadow.calcsoft__text--tac='Вычислять объём через'
					div.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-10px-1fr.mt-10
						input(type='radio' name='calc-type' data-type='radius-height') 
						span.calcsoft__text='Радиус основания и высота'
						input(type='radio' name='calc-type' data-type='diametr-height') 
						span.calcsoft__text='Диаметр основания и высота'
						input(type='radio' name='calc-type' data-type='area-height') 
						span.calcsoft__text='Площадь основания и высота'
					div.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-80px-100px-60px.mt-10.no-visible.calc-type(name='radius-height')
						span.calcsoft__text='Радиус r:'
						input(type='text' name='radius') 
						select.calcsoft__select(name='radius-units')
							- var i = 1
							each item in radiusArr
								option(value = i++)=item

						
					div.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-80px-100px-60px.mt-10.no-visible.calc-type(name='diametr-height')
						span.calcsoft__text='Диаметр d:'
						input(type='text' name='diametr') 
						select.calcsoft__select(name='diametr-units')
							- var i = 1
							each item in radiusArr
								option(value = i++)=item
						
					div.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-80px-100px-60px.mt-10.no-visible.calc-type(name='area-height')
						span.calcsoft__text='Площадь S:'
						input(type='text' name='area') 
						select.calcsoft__select(name='area-units')
							- var i = 1
							each item in areaArr
								option(value = i++)=item

						
					div.calcsoft-form__wrapper--grid.calcsoft-form__wrapper--grid-80px-100px-60px.mt-10
						span.calcsoft__text='Высота h:'
						input(type='text' name='height') 
						select.calcsoft__select(name='height-units')
							- var i = 1
							each item in radiusArr
								option(value = i++)=item

					p.calcsoft__text.mt-10
						span='Округлить результат до '
						input.calcsoft-form__select(name='round_of')
						span=' знаков после запятой'
					div.flex-row
						input.calcsoft-form__btn.mt-10(type='submit' value='Рассчитать')

				div.calcsoft__flex-row.calcsoft__flex-row--fxdc#calculation-result
					p.calcsoft__text.calcsoft__text--shadow.calcsoft__text--tac='Результат вычислений'
					p.calcsoft__text.mt-10.formula=''
					div.calcsoft__svg-cont
						svg#cilinder
							ellipse(cy='20%' cx='50%' rx='50' ry='10' fill="transparent" stroke="rgb(0,0,0)" stroke-width='2')
							line(x1='33%' y1='20%' x2='33%' y2='81%' stroke="rgb(0,0,0)" stroke-width='2')
							line(x1='50%' y1='20%' x2='50%' y2='81%' stroke-width="5" style='stroke-dasharray:10 5; stroke: rgba(0, 0, 0, .5); stroke-width: 2')
							line.decor.no-visible(x1='50%' y1='81%' x2='67%' y2='81%' stroke-width="5" style='stroke-dasharray:10 5; stroke: rgba(0, 0, 0, .5); stroke-width: 2')
							line.decor.no-visible(x1='34%' y1='81%' x2='66%' y2='81%' stroke-width="5" style='stroke-dasharray:10 5; stroke: rgba(0, 0, 0, .5); stroke-width: 2')
							line(x1='67%' y1='20%' x2='67%' y2='81%' stroke="rgb(0,0,0)" stroke-width='2')
							ellipse#area(cy='81%' cx='50%' rx='50' ry='10' fill="transparent" stroke="rgb(0,0,0)" stroke-width='2')
					p.calcsoft__text.mt-10.volume
					